@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 18% 95%;
    --foreground: 210 10% 23%;
    --card: 195 18% 98%;
    --card-foreground: 210 10% 23%;
    --popover: 195 18% 98%;
    --popover-foreground: 210 10% 23%;
    --primary: 196 23% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 195 16% 91%;
    --secondary-foreground: 210 10% 23%;
    --muted: 195 16% 91%;
    --muted-foreground: 210 8% 45%;
    --accent: 180 32% 41%;
    --accent-foreground: 180 30% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 15% 88%;
    --input: 195 15% 88%;
    --ring: 196 23% 58%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 210 10% 15%;
    --foreground: 195 18% 95%;
    --card: 210 10% 18%;
    --card-foreground: 195 18% 95%;
    --popover: 210 10% 18%;
    --popover-foreground: 195 18% 95%;
    --primary: 196 23% 58%;
    --primary-foreground: 210 10% 10%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 195 18% 95%;
    --muted: 210 10% 25%;
    --muted-foreground: 195 10% 65%;
    --accent: 180 32% 41%;
    --accent-foreground: 180 30% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 25%;
    --input: 210 10% 25%;
    --ring: 196 23% 58%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
